body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    overflow: hidden;
}

.title {
    text-align: center;
    color: white;
    position: relative;
    bottom: 2vh;
    font-size: 30px;
    font-weight: bold;
}

#logo {
    width: 200px;
    height: 200px;
    user-select: none;
}

#back_menu {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 20px;
    bottom: 16vh;
}

#back_button {
    font-size: 20px;
    font-weight: bold;
}

.t_back {
    background-color: rgb(0, 147, 192);
    padding-left: 100vh;
    padding-right: 100vh;
    position: absolute;
    z-index: -1;
}

/*モード選択*/
.words_mode1 {
    position: absolute;
    bottom: 18.5vh;
    left: 30%;
}

#J_start_button {
    position: fixed;
    top: 5vh;
    font-size: 35px;
    background-color: rgb(0, 147, 192);
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#J_start_button:hover {
    font-size: 35px;
    background-color: rgb(93, 164, 185);
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.words_mode2 {
    position: fixed;
    bottom: 25vh;
    left: 60%;
}

#E_start_button {
    position: fixed;
    top: 5vh;
    font-size: 35px;
    background-color: rgb(0, 147, 192);
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#E_start_button:hover {
    font-size: 35px;
    background-color: rgb(81, 158, 182);
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.statistics_open {
    text-align: center;
    position: relative;
    top: 20vh;
}

#statistics_button {
    font-size: 40px;
    font-weight: bold;
}

/*品詞選びボタン*/
.Part_of_speech{
    position: relative;
    bottom: 0vh;
    font-size: 30px;
    text-align: center;
    background-color: rgb(0, 147, 192);
    padding: 50px;
}

#noun_start_button{
    font-size: 25px;
    font-weight: bold;
    width: 200px;
    height: 50px;
}

#verb_start_button{
    font-size: 25px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    margin-top: 2vh;
}

#adjective_start_button{
    font-size: 25px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    margin-top: 2vh;
}

#adverb_start_button{
    font-size: 25px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    margin-top: 2vh;
}

#pronoun_start_button{
    font-size: 25px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    margin-top: 2vh;
}

#preposition_start_button{
    font-size: 25px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    margin-top: 2vh;
}

#conjunction_start_button{
    font-size: 25px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    margin-top: 2vh;
}

#article_start_button{
    font-size: 25px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    margin-top: 2vh;
}

#all_start_button{
    font-size: 25px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    margin-top: 2vh;
}

/*答えボタン*/
#quiz {
    display: grid;
    place-items: center;
    height: 50vh;
    position: relative;
    top: 0vh;
}

#main_word {
    text-align: center;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 50px;
}

#answer1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

#answer2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

#answer3 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

#answer4 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

/*答え処理関係*/
#true {
    font-size: 300px;
    text-align: center;
    display: grid;
    place-items: center;
    height: 100vh;
    color: rgb(255, 0, 0);
    position: relative;
    bottom: 71vh;
}

#else {
    font-size: 400px;
    text-align: center;
    display: grid;
    place-items: center;
    height: 100vh;
    position: relative;
    bottom: 72vh;
    color: blue;
}

#true_text {
    font-size: 40px;
    text-align: center;
    display: grid;
    place-items: center;
    height: 100vh;
    position: relative;
    bottom: 145vh;
    color: rgb(124, 70, 0);
    font-weight: bold;
}


#next_text {
    text-align: center;
}

#next {
    font-size: 40px;
    height: 60px;
    position: relative;
    bottom: 190vh;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#counter {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 10vh;
    font-weight: bold;
}

#correct {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 15vh;
    font-weight: bold;
}

#mistake {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 20vh;
    font-weight: bold;
}

#correct_ratio {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 25vh;
    font-weight: bold;
}
